<a href="https://colab.research.google.com/github/swati-108/Bluejay-Delivery-Assignment/blob/main/Bluejay_Delivery_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [36]:
import pandas as pd
df = pd.read_excel(r"/content/Assignment_Timecard.xlsx")
print(df)

     Position ID Position Status                Time            Time Out  \
0      WFS000054          Active                 NaT                 NaT
1      WFS000065          Active 2023-09-12 10:08:00 2023-09-12 13:53:00
2      WFS000065          Active 2023-09-12 14:23:00 2023-09-12 19:02:00
3      WFS000065          Active 2023-09-13 10:08:00 2023-09-13 14:20:00
4      WFS000065          Active 2023-09-13 14:50:00 2023-09-13 20:44:00
...          ...             ...                 ...                 ...
1479   WFS000589          Active 2023-09-20 09:55:00 2023-09-20 14:30:00
1480   WFS000589          Active 2023-09-20 15:00:00 2023-09-20 19:29:41
1481   WFS000589          Active 2023-09-21 09:56:00 2023-09-21 14:30:00
1482   WFS000589          Active 2023-09-21 15:00:01 2023-09-21 19:16:05
1483   WFS000591          Active                 NaT                 NaT

     Timecard Hours (as Time) Pay Cycle Start Date Pay Cycle End Date  \
0                         NaN                  NaT                NaT
1                        3:45           2023-09-10         2023-09-23
2                        4:39           2023-09-10         2023-09-23
3                        4:12           2023-09-10         2023-09-23
4                        5:54           2023-09-10         2023-09-23
...                       ...                  ...                ...
1479                     4:35           2023-09-10         2023-09-23
1480                     4:29           2023-09-10         2023-09-23
1481                     4:34           2023-09-10         2023-09-23
1482                     4:16           2023-09-10         2023-09-23
1483                      NaN                  NaT                NaT

                    Employee Name  File Number  Unnamed: 9 Unnamed: 10
0                 SiWgh, PraGhjEM           54         NaN         NaN
1                 REsaXiaWE, XAis           65         NaN         NaN
2                 REsaXiaWE, XAis           65         NaN         NaN
3                 REsaXiaWE, XAis           65         NaN         NaN
4                 REsaXiaWE, XAis           65         NaN         NaN
...                           ...          ...         ...         ...
1479              WgAyeW, RayCEWd          589         NaN         NaN
1480              WgAyeW, RayCEWd          589         NaN         NaN
1481              WgAyeW, RayCEWd          589         NaN         NaN
1482              WgAyeW, RayCEWd          589         NaN         NaN
1483  ArveXE RECerE, AWdres JesAs          591         NaN         NaN

[1484 rows x 11 columns]

In [37]:
import pandas as pd
df.info()
df.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1484 entries, 0 to 1483
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Position ID               1484 non-null   object
 1   Position Status           1484 non-null   object
 2   Time                      1474 non-null   datetime64[ns]
 3   Time Out                  1470 non-null   datetime64[ns]
 4   Timecard Hours (as Time)  1474 non-null   object
 5   Pay Cycle Start Date      1474 non-null   datetime64[ns]
 6   Pay Cycle End Date        1474 non-null   datetime64[ns]
 7   Employee Name             1484 non-null   object
 8   File Number               1484 non-null   int64
 9   Unnamed: 9                0 non-null      float64
 10  Unnamed: 10               1 non-null      object
dtypes: datetime64[ns](4), float64(1), int64(1), object(5)
memory usage: 127.7+ KB

Index(['Position ID', 'Position Status', 'Time', 'Time Out',
       'Timecard Hours (as Time)', 'Pay Cycle Start Date',
       'Pay Cycle End Date', 'Employee Name', 'File Number', 'Unnamed: 9',
       'Unnamed: 10'],
      dtype='object')

In [18]:
df.rename(columns={"Date_":"Date"}, inplace=True)

In [20]:
df = globals()["df"]

In [41]:
df = pd.DataFrame()

In [43]:

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Empty DataFrame

In [56]:
df["Pay Cycle Start Date"] = pd.to_datetime(df["Pay Cycle Start Date"])

In [57]:
df["Time"].dtype
df["Pay Cycle Start Date"] = pd.to_datetime(df["Pay Cycle Start Date"])
df["Pay Cycle End Date"] = pd.to_datetime(df["Pay Cycle End Date"])

In [58]:
df.fillna("N/A", inplace=True)  # replacing the n/a values

In [60]:
# Function to track consecutive days worked
import pandas as pd
df = pd.read_excel(r"/content/Assignment_Timecard.xlsx")

df["Pay Cycle Start Date"].dtype
df["Time"] = pd.to_datetime(df["Time"])
df["Time Out"] = pd.to_datetime(df["Time Out"])



def track_consecutive_days(employee_data):
    consecutive_days = 0
    last_date = None
    for index, row in employee_data.iterrows():
        date = row["Pay Cycle Start Date"]
        if last_date and date == pd.to_datetime(last_date) + pd.Timedelta(days=1):
            consecutive_days += 1
            if consecutive_days == 7:
                yield row["Employee Name"], row["Position ID"], index
        else:
            consecutive_days = 1
        last_date = date

# Function to identify shifts with short spacing
def identify_short_spacing(employee_data):
    for index in range(len(employee_data) - 1):
        row1 = employee_data.iloc[index]
        row2 = employee_data.iloc[index + 1]
        if (row1["Employee Name"] == row2["Employee Name"]) and (
            row2["Time"] - row1["Time Out"] < pd.Timedelta(hours=10)
            and row2["Time"] - row1["Time Out"] > pd.Timedelta(hours=1)
        ):
            yield row1["Employee Name"], row2["Position ID"], index

# Function to identify shifts exceeding 14 hours
def identify_long_shifts(employee_data):
    for index, row in employee_data.iterrows():
        shift_duration = row["Time Out"] - row["Time"]
        if shift_duration > pd.Timedelta(hours=14):
            yield row["Employee Name"], row["Position ID"], index

# Print results
print("Employees who have worked 7 consecutive days:")
for name, position, index in track_consecutive_days(df.copy()):
    print(f"- {name} ({position})")

print("\nEmployees with less than 10 hours between shifts:")
for name, position, index in identify_short_spacing(df.copy()):
    print(f"- {name} ({position})")

print("\nEmployees who have worked more than 14 hours in a single shift:")
for name, position, index in identify_long_shifts(df.copy()):
    print(f"- {name} ({position})")

Employees who have worked 7 consecutive days:

Employees with less than 10 hours between shifts:
- CaMaXaWE, CeghaW (WFS000153)
- CaMaXaWE, CeghaW (WFS000153)
- Xee, XaCar (WFS000200)
- Xee, XaCar (WFS000200)
- Xee, XaCar (WFS000200)
- De Xa Cerda, IgWaciE (WFS000318)
- MraW, WiXXiaC Ha (WFS000345)
- MraW, WiXXiaC Ha (WFS000345)
- CEreira Jr, JEse (WFS000456)
- GrACfieXd, CErWeXiAs (WFS000515)
- DeXgadiXXE REdarMe, ChrisMiaW S (WFS000523)
- HaCiXMEW, DeaWMe DevEW (WFS000536)
- REdrigAez, GraWdEW AWgeX (WFS000550)

Employees who have worked more than 14 hours in a single shift:
- DeXgadiXXE REdarMe, ChrisMiaW S (WFS000523)